[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
crispy = "==0.7.4"
crispy-bootstrap4 = "==2023.1"
django = "==5.0.2"
faker = "==23.1.0"
pillow = "==10.2.0"
sqlparse = "==0.4.4"
tzdata = "==2023.4"

[dev-packages]

[requires]
python_version = "3.12"
